<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315957121112-88lb7d650shjed2m4vaoo4ks4in8r6qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315957121112-88lb7d650shjed2m4vaoo4ks4in8r6qn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>315957121112-10cn8oo8ro06fss7lmdf80vgsii69pgl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATk5xvUnTSQuIBi4Psh3ZXs7zYvsRvrIo</string>
	<key>GCM_SENDER_ID</key>
	<string>315957121112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lesys.ods</string>
	<key>PROJECT_ID</key>
	<string>olddragons-sheet</string>
	<key>STORAGE_BUCKET</key>
	<string>olddragons-sheet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315957121112:ios:df077f75a102c21c3f7a2d</string>
</dict>
</plist>